{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/kyle_style.css' %}">
	<title>Task Kyle</title>
</head>
<body class="kyle_body">
    <header class="kyle_header">
        <a class="kyle_logo" href="">Kyle</a>
        <nav>
            <a href="">Calender</a>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer class="kyle_footer">
        &copy;Jeshika0815 | <a href="">Privacy Policy</a>
    </footer>
</body>
</html>
